.top-line {
	background-color: #ADD8E6;
	//
	LightBlue
}

.navigation {
	background-color: #1E90FF;
	//
	DodgerBlue
}

.orange:hover {
	background: #1E90FF !important;
	//
	change
	the
	color
	to
	DodgerBlue
}

.button:hover {
	background: #1E90FF !important;
	//
	change
	the
	color
	to
	DodgerBlue
}

#showuser,#mylogin,#myregister {
	width: 50px;
	font-size: 150%;
	text-align: right;
	margin-right: 20px;
	height: 28px;
	vertical-align: baseline;
	float: right;
}

#mylogin {
	width: 50px;
	margin-right: 0;
}

.navigation {
	border-bottom: 6px solid #1E90EF;
}

div#myfooter {
	font-size: 150%;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

a {
	color: #1E90FF;
}
/*
*the following style for the login page
*/
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.signin-card {
	padding: 40px;
	width: 274px;
}

.card {
	margin-bottom: 20px;
}

.card {
	background-color: #F7F7F7;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	margin: 0 auto 25px;
	padding: 20px 25px 30px;
	width: 304px;
}

.clearfix {
	
}

.signin-card .profile-img {
	border-radius: 50%;
	display: block;
	height: 96px;
	margin: 0 auto 10px;
	width: 96px;
}

.hidden-label {
	clip: rect(1px, 1px, 1px, 1px);
	height: 0;
	overflow: hidden;
	position: absolute !important;
	visibility: hidden;
	width: 0;
}

.signin-card #Email,.signin-card #Passwd,.signin-card .captcha {
	direction: ltr;
	font-size: 16px;
	height: 44px;
	margin-left: auto;
	margin-right: auto;
}

.signin-card #Passwd {
	margin-top: -1px;
}

.signin-card input[type="email"],.signin-card input[type="password"],.signin-card input[type="text"],.signin-card input[type="submit"]
	{ //
	-moz-box-sizing: border-box;
	display: block;
	margin-bottom: 10px;
	position: relative;
	width: 282px;
	z-index: 1;
}

#Email {
	margin-bottom: 0;
}

.card .rc-button {
	padding: 0;
	width: 100%;
}

button,input[type="button"],input[type="submit"] {
	font-family: Arial, sans-serif;
}

.rc-button-submit {
	background-color: #1E90FF; //
	background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.rc-button {
	-moz-user-select: none; //
	background-color: #F5F5F5; //
	background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	color: #444444;
	cursor: default;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	line-height: 36px;
	min-width: 46px;
	padding: 0 8px;
	text-align: center;
	transition: all 0.218s ease 0s;
}

.card *:first-child {
	margin-top: 0;
}

.need-help-reverse {
	float: right;
}

.banner {
	text-align: center;
}

.banner h1 {
	font-size: 38px;
	margin-bottom: 15px;
}

.banner h1 {
	color: #555555;
	font-family: 'Open Sans', arial;
	font-size: 42px;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 0;
}

.banner h2 {
	margin-bottom: 15px;
}

.banner h2 {
	color: #555555;
	font-family: 'Open Sans', arial;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}

p.create-account {
	text-align: center;
	font-size: 150%;
}

hgroup {
	animation: 0.25s linear 0.25s normal none 1 all;
	display: block;
	opacity: 1;
	position: absolute;
	top: 30%;
	left: 20px;
}

.sign-up {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 362px;
}

.signup-box {
	border: 0 none;
}

.signup-box {
	background: none repeat scroll 0 0 #F1F1F1;
	border: 1px solid #E5E5E5;
	margin: 0;
	padding: 25px;
}

.form-element {
	margin: 0 0 0.5em;
	position: relative;
}

label {
	display: inline-block;
	position: relative;
}

input[type="email"],input[type="password"] {
	width: 285px;
}

strong {
	color: #222222;
}

button.g-button,input.g-button[type="submit"] {
	height: 29px;
	line-height: 29px;
	margin: 0;
	vertical-align: bottom;
}

.g-button-submit {
	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.error {
	color: red;
}

.success {
	color: green;
	width: 250px;
	font-size: 120%;
}

#captcha_image {
	width: 136px;
	height: 28px;
}

#submit-button {
	width: 304px;
}

#topfirstname {
	position: absolute;
	font-size: 150%;
	top: 70px;
	z-index: 1000;
	padding-left: 5px;
	left: 200px;
}

#topleft {
	width: 200px;
	float: left;
	margin-left: 20px;
}

#topleft>li {
	float: left;
	margin-right: 5px;
}

#topright {
	float: right;
	font-size: 150%;
	width: 300px;
	margin-right: 20px;
}

#topright>li {
	float: right;
	margin-right: 5px;
	position: relative;
}

#topleft,#topright {
	font-size: 110%;
}

.topcenter {
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
}

.mycenter {
	margin-left: auto;
	margin-right: auto;
}

.showInfoTd {
	width: 200px;
	font-size: 150%;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#showInfo {
	padding-left: 20px;
}

.tab-left,.tab-right {
	height: 780px
}

.tab-left {
	width: 200px;
	float: left;
	border-right: thin solid #DCDCDC;
}

.tab-right {
	float: left;
	width: 930px;
}

.shortcut-bar dt {
	background: none repeat scroll 0 0 #F3F3F3;
	width: 200px;
	border-top: thin solid #DCDCDC;
	border-right: thin solid #DCDCDC;
	border-bottom: thin solid #DCDCDC;
	font-size: 120%;
	height: 38px;
	line-height: 38px;
}

.iconSize {
	width: 19px;
	float: left;
	margin-top: 10px
}

.iconText {
	float: left;
	margin-top: 10px;
	margin-left: 6px
}

#resetPassword {
	width: 600px;
}

#resetPassword>li {
	font-size: 120%;
	float: left;
	padding-left: 40px;
	width: 156px;
	border: thin solid #DCDCDC;
	margin-left: 2px;
	border-radius: 25px;
}

.focusBackgroud {
	background-color: #ADD8E6;
}

.captcha {
	width: 100px; //
	float: left;
	margin-top: 15px;
	margin-bottom: 0px;
}

.ui-widget-content a {
	color: #1E90FF;
}

.attention {
	margin-top: 20px;
	padding: 0 .7em;
	width: auto;
	float: right;
	height: 20px;
	line-height: 20px;
	vertical-align: middle
}
.tdIcon {
	width: 16px; 
	float: left; 
	margin-right: 2px
}

.structurePic{
	width: 120px;
	height: 130px;
}
.tdFormElement {
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}
td{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.app-sidebar{
	width: 220px;
	border-right: thin solid #DCDCDC;
}
.content-title{
	border-bottom: thin solid #DCDCDC;
}

.content-left{
	width: 300px;
	border-right: thin solid #DCDCDC;
	height: 660px;
}
.background {
	background-color: white;
	width: 1180px
}

.app-sidebar, .app-content, .content-left, .content-right{
	float: left; 
	background-color: white;
}
.app-sidebar, .app-content, .tab_content, .content-right{
	height: 690px; 
}

.showPhoto {
	height: 149px;
	width: 120px;
}
.menue {
	margin-left: 20px;
}
.menue ul {
	margin-left: 40px;
}
.content-title, .content-right, .target_create{
	padding-left: 20px;
}
.content-title, .content{
	width : 918px;
}
.content-right {
	width : 596px;
}
.content-title div {
	border: thin solid #DCDCDC;
	width : 100px;
	margin : 5px;
	text-align:center;
}

.target_photo {
	width: 40px;
	height: 40px;
	float: left;
	margin-left : 2px;
}

.target{
	width: 220px;
	height: 70px;
	border: thin solid #DCDCDC;
	margin-bottom: 10px;
}
.target p{
	float: right;
	margin-top: 20px;
	margin-right:5px;
}
.target h6{
	margin-bottom: 0px;
}
.accordion_div {
	height: 555px;
}
.sub-targets {
	border: medium solid #DCDCDC;
	width: 580px;
}

.sub-targets_td, .personalInfo{
	border: thin solid #DCDCDC;
}

.comments, .target_create, .create_sub-target{
	margin-top: 20px;
}

.target_create input, .target_create textarea, .target_create select {
	margin-bottom : 20px;
}
.request_info {
	width: 120px;
	margin-top:10px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.historyTarget {
	margin-left : 20px;
	margin-top : 10px;
}
.flag {
	height : 10px;
	width : 10px;
}
.personalInfo {
	width : 120px;
	height : 190px;
	margin: 29px;
	float: left;
}
.personalPhoto {
	height: 130px; 
	width: 120px;
}
.personalInfo p {
	margin-bottom : 0;
	margin-left : 2px;
	margin-right : 2px;
}
.helpers_group {
	padding: 20px;
}
.content-single {
	margin: 10px;
}
.content-single input {
	margin-bottom: 10px;
}
.single-element {
	margin-top: 20px;
	width: 290px;
}
.content-single h5 {
	margin-top: 20px;
	width: 340px;
}

.searchButton{
	width: 60px;
}

.inviteButton {
	width: 80px;
}
.description_td {
	table-layout:fixed;
	width: 400px;
	word-break:keep-all;
}
.comment_td {
	table-layout:fixed;
	width: 400px;
	word-break:keep-all;
}

.target_name {
	position:relative;
	display: block;
	width: 220px;
	height: 1.5em;
	word-break:keep-all;
	white-space:nowrap;/* 不换行 */
	overflow: auto;/* 内容超出宽度时隐藏超出部分的内容 */
	padding-left: 2px;
}
.comment-position {
	float : left;
}
#comments_table {
	table-layout:fixed;
}
.comments {
	height : 30em;
	overflow: auto;/* 内容超出宽度时隐藏超出部分的内容 */
}